.taskListHeader {
  display: flex;
  justify-content: space-between;
}

.taskListCreated {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--blue-dark);
}

.taskListDone {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--purple);
}

.taskListCreated > span, .taskListDone > span {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  color: var(--gray-200);
  margin-left: 0.5rem;
  border-radius: 100%;
}


