.taskContainer{
  width: 100%;
  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  display: grid;
  grid-template-columns: 1.09rem 1fr 1.5rem;
  justify-content: space-between;
}

.taskContainer + .taskContainer {
  margin-top: 0.75rem;
}

.taskText {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
}

.taskTextDone {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskTextWrapper {
  width: 100%;
  display: flex;
  padding: 0rem 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.taskDelete {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskDelete:hover {
  background-color: var(--gray-400);
  border-radius: 4px;
  color: var(--red);
}

.radio {
  width: 1.09rem;
  height: 1.09rem;
  margin: 0.31rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
  background-color: transparent;

}

.radio:hover {
  border: 2px solid var(--blue-dark);
  background-color: var(--blue-dark-20) ;
  cursor: pointer;
}

.radioChecked {
  width: 1.09rem;
  height: 1.09rem;
  margin: 0.31rem;
  border-radius: 50%;
  border:none;
  background-color: var(--purple-dark);
  background-image: url('../assets/check.svg');
  background-position: center; 
  background-repeat: no-repeat;
}

.radioChecked:hover {
  background-color: var(--purple);
  cursor: pointer;
} 

@media (max-width: 768px) {}